* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    display: flex;
    justify-content: space-between;
    background-color: #aaa;
}

.left-box {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-bet;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    background-color: #fff;

}

.left-left-box {
    margin: auto;

}

.right-box {
    width: 25%;
    height: 113vh;
    margin: auto;
    margin-left: 10px;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}
.right-box h1{
    text-align: center;
}
.box {
    margin: 20px 20px;
    width: 250px;
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    transition: all 0.4s ease;
}


img{
    height: 100px;
}
input{
    width: 60px;
}
.inputfield{
    padding: 20px 0 20px;
    display: flex;
    justify-content: space-evenly;
}
button{
    width: 30vh;
}